In [4]:
import pandas as pd
import re
import functools
import json
import numpy as np
from collections import OrderedDict

In [5]:
workbook = pd.read_excel('data/caucasian male.xlsx', header=None, dtype=str)

In [6]:
workbook

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,APPENDIX D\nSex: Male Education: 7-8 years\nAg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Summary scores ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Scaled score,WAIS-R\nFSIQ,NaN,NaN,WAIS\nFSIQ,AIR,CAT\nERROR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SPCH PERC,NaN,Scaled score,NaN,NaN,NaN
3,19,100,NaN,NaN,NaN,100,87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN
4,18,96,NaN,NaN,100,97,83,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81,NaN,18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,3,NaN,NaN,NaN,28,25,NaN,17,NaN,20,...,NaN,NaN,NaN,22,3,NaN,NaN,NaN,NaN,NaN
5871,2,NaN,NaN,NaN,24,21,NaN,12,NaN,15,...,NaN,NaN,NaN,19,2,NaN,NaN,NaN,NaN,NaN
5872,1,NaN,NaN,NaN,19,17,NaN,7,NaN,10,...,NaN,NaN,NaN,15,1,NaN,NaN,NaN,NaN,NaN
5873,0,NaN,NaN,NaN,15,12,NaN,2,NaN,5,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
5874,Note. See page 16 for a description of acronyms.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
workbook.dropna(how="all")

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,APPENDIX D\nSex: Male Education: 7-8 years\nAg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Summary scores ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Scaled score,WAIS-R\nFSIQ,NaN,NaN,WAIS\nFSIQ,AIR,CAT\nERROR,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SPCH PERC,NaN,Scaled score,NaN,NaN,NaN
3,19,100,NaN,NaN,NaN,100,87,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN
4,18,96,NaN,NaN,100,97,83,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81,NaN,18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5870,3,NaN,NaN,NaN,28,25,NaN,17,NaN,20,...,NaN,NaN,NaN,22,3,NaN,NaN,NaN,NaN,NaN
5871,2,NaN,NaN,NaN,24,21,NaN,12,NaN,15,...,NaN,NaN,NaN,19,2,NaN,NaN,NaN,NaN,NaN
5872,1,NaN,NaN,NaN,19,17,NaN,7,NaN,10,...,NaN,NaN,NaN,15,1,NaN,NaN,NaN,NaN,NaN
5873,0,NaN,NaN,NaN,15,12,NaN,2,NaN,5,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
5874,Note. See page 16 for a description of acronyms.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
table_title_idx = []
for index, row in workbook.iterrows():
    row_list = row.tolist()
    column1 = row_list[0]
    pat = re.compile('Sex:.+', re.IGNORECASE)
    if  not (pd.isnull(column1)):
        if (bool(re.search(pat, row_list[0]))):
            table_title_idx.append(index)

From the index of row that have table title to get the start row index of the table for each level

In [9]:
table_start_idx = [table_title_idx[i] for i in range(0, 132, 2)]

In [10]:
len(table_start_idx)

66

In [11]:
table_scale_score_idx = []
for index, row in workbook.iterrows():
    row_list = row.tolist()
    column1 = row_list[0]
    pat = re.compile('scale', re.IGNORECASE)
    if  not (pd.isnull(column1)):
        if (bool(re.search(pat, row_list[0]))):
            table_scale_score_idx.append(index)

In [12]:
# table_scale_score_idx

In [13]:
# tbl_p1 = pd.read_excel('data/caucasian male.xlsx', skiprows=2, nrows=20)
# # tbl.dtypes
# tbl_p1 = tbl_p1[tbl_p1.columns.drop(list(tbl_p1.filter(regex=re.compile("unname", re.IGNORECASE))))]
# tbl_p2 = pd.read_excel('data/caucasian male.xlsx', skiprows=24, nrows=20)
# tbl_p2 = tbl_p2[tbl_p2.columns.drop(list(tbl_p2.filter(regex=re.compile("unname", re.IGNORECASE))))]
# tbl = pd.merge(tbl_p1, tbl_p2, on='Scaled score')

In [14]:
idx_lists = [[table_scale_score_idx[x], table_scale_score_idx[x+1],
             table_scale_score_idx[x+2], table_scale_score_idx[x+3]
             ] for x in range(0, len(table_scale_score_idx), 4)]

In [15]:
# idx_lists

In [16]:
# for idx_list in idx_lists:
#     N_ROWS = 20
#     # read the first part of the table
#     tbl_p1 = pd.read_excel('data/caucasian male.xlsx', skiprows=idx_pair[0], nrows=N_ROWS)
#     tbl_p1 = tbl_p1[tbl_p1.columns.drop(list(tbl_p1.filter(regex=re.compile("unname", re.IGNORECASE))))]
#     # read the second part of the table
#     tbl_p2 = pd.read_excel('data/caucasian male.xlsx', skiprows=idx_pair[1], nrows=N_ROWS)
#     tbl_p2 = tbl_p2[tbl_p2.columns.drop(list(tbl_p2.filter(regex=re.compile("unname", re.IGNORECASE))))]
#     # join two part together                                                                   
#     tbl = pd.merge(tbl_p1, tbl_p2, on='Scaled score')
    
#     tbls.append(tbl)

For each patient level, extract the four corresponding table and merge them

In [17]:
def extract_patient(file, start):
    N_ROWS = 20
    tbl = pd.read_excel(file, skiprows=start, nrows=N_ROWS)
    return tbl

In [18]:
# test
# extract_patient('data/caucasian male.xlsx', 2)

Define a helper function that will remove empty columns and the last column with name "Scaled score" which is a duplicate of the first column, and unify the column name format

In [19]:
def clean_colnames(dataframe):
    # get the column index that will be remained
    # remove a column if all rows is null 
#     col_idx = dataframe.columns.drop(list(dataframe.filter(regex=re.compile("unname", re.IGNORECASE))))
    df = dataframe.dropna(axis=1, how='all', inplace=False)
    df = df.iloc[:, :-1]
    # remove whitespace in both ends
    df.columns = df.columns.str.strip()
    # replace whitespace of any length with a single "space" chacacter
    df.columns = list(map(lambda colname: re.sub('\s+', ' ', colname), df.columns))
    # convert all columns to integer type
    df = df.fillna(pd.NA).astype('Int64')
    return df

In [20]:
# # test
example_tbl = extract_patient('data/caucasian male.xlsx', 2)
example_tbl.dropna(axis=1, how='all')
# clean_colnames(example_tbl).columns

,Scaled score,WAIS-R\nFSIQ,WAIS\nFSIQ,AIR,CAT\nERROR,TRAIL\nB,THUR\nFLU,FAS ANIMALS,Unnamed: 15,DIGIT DIGIT\nSPAN SPAN,Unnamed: 21,DIGIT SSHOR\nPASAT ERROR RHYM,Unnamed: 26,Unnamed: 29,SPCH PERC,Scaled score.1
0,19,100.0,NaN,100,87,94.0,92.0,82.0,85,91.0,NaN,NaN,NaN,NaN,NaN,19
1,18,96.0,100.0,97,83,89.0,88.0,79.0,81,87.0,80.0,NaN,NaN,NaN,81.0,18
2,17,92.0,98.0,92,79,85.0,84.0,75.0,77,NaN,NaN,81.0,NaN,NaN,NaN,17
3,16,88.0,94.0,87,75,80.0,81.0,72.0,72,80.0,NaN,78.0,NaN,NaN,NaN,16
4,15,84.0,90.0,81,71,76.0,77.0,68.0,68,76.0,70.0,74.0,74.0,68.0,69.0,15
5,14,79.0,85.0,76,67,72.0,73.0,65.0,64,72.0,67.0,70.0,NaN,64.0,NaN,14
6,13,75.0,81.0,71,63,67.0,69.0,61.0,59,68.0,64.0,66.0,68.0,NaN,61.0,13
7,12,71.0,77.0,65,59,63.0,65.0,57.0,55,64.0,NaN,62.0,64.0,58.0,57.0,12
8,11,67.0,72.0,60,55,58.0,62.0,54.0,51,60.0,57.0,58.0,61.0,NaN,53.0,11
9,10,62.0,68.0,55,51,54.0,58.0,50.0,47,56.0,54.0,55.0,57.0,52.0,49.0,10
10,9,58.0,64.0,49,47,49.0,54.0,47.0,42,NaN,51.0,51.0,54.0,49.0,45.0,9
11,8,54.0,59.0,44,43,45.0,50.0,43.0,38,48.0,48.0,47.0,50.0,46.0,41.0,8
12,7,50.0,55.0,39,39,40.0,46.0,39.0,34,44.0,NaN,43.0,47.0,43.0,37.0,7
13,6,46.0,51.0,33,35,36.0,43.0,36.0,30,40.0,41.0,39.0,43.0,40.0,33.0,6
14,5,41.0,47.0,28,31,32.0,39.0,32.0,25,37.0,38.0,35.0,40.0,36.0,29.0,5
15,4,37.0,42.0,22,27,27.0,35.0,29.0,21,33.0,NaN,32.0,37.0,33.0,26.0,4
16,3,33.0,38.0,17,23,23.0,31.0,25.0,17,29.0,32.0,28.0,33.0,30.0,22.0,3
17,2,29.0,34.0,12,19,18.0,27.0,21.0,12,25.0,NaN,24.0,30.0,27.0,18.0,2
18,1,24.0,29.0,6,15,14.0,24.0,18.0,8,NaN,25.0,20.0,26.0,24.0,14.0,1
19,0,NaN,25.0,1,11,NaN,NaN,NaN,4,NaN,22.0,16.0,23.0,21.0,NaN,0

Define a helper function that will do a inner join a list of dataframe iteratively on "Scaled score"

In [21]:
def merge_on_score(dataframes):
    
    df = functools.reduce(lambda left,right: pd.merge(left,right,on='Scaled score',
                                            how='outer'), dataframes)
    df.columns = ['Scaled score', 'WAIS-R FSIQ', 'WAIS FSIQ', 'AIR', 'CAT ERROR','TRAIL B', 'THUR FLU', 'FAS', 'ANIMALS', 'DIGIT SPAN', 'DIGIT SPAN 2', 'PASAT', 'DIGIT ERROR', 'SSHOR RHYM', 'SPCH PERC', 
                  'DIGIT SYMB', 'DIGIT SYMB 2', 'TRAIL A', 'DIGIT TIME', 'BLOCK DESGN', 'BLOCK DESGN 2', 'TPT TIME', 'SPAT REL', 'WAIS-R VOCAB', 'WAIS VOCAB', 'APHAS SCRN', 'BSTN NAME', 'BDAE COMP', 'PIAT RECOG', 'PIAT COMP', 'PIAT SPELL', 
                  'STORY-T1', 'STORY LEARN', 'STORY RECALL', 'STORY LOSS', 'CVLT-1', 'CVLT-5', 'CVLT-TOT', 'CVLT-SDFR', 'CVLT-LDFR', 'TPT MEM', 'TPT LOC', 'FIGUR-T1', 'FIGUR LEARN', 'FIGUR RECALL', 'FIGUR LOSS', 
                  'TAP DH', 'TAP NDH', 'TAP BH', 'GRIP DH', 'GRIP NDH', 'PEG DH', 'PEG NDH', 'TPT DH', 'TPT BH', 'SPR', 'SPL', 'SP TOT', 'TFR R', 'TFR L']
    return df

In [22]:
# test
example_raw_tbls = list(map(lambda idx_list: extract_patient('data/caucasian male.xlsx', idx_list), [2, 24, 46, 68]))
example_tbls = list(map(clean_colnames, example_raw_tbls))
example_norm_tbl = merge_on_score(example_tbls)

In [23]:
# example_norm_tbl.fillna(pd.NA).astype('Int64')
example_norm_tbl

,Scaled score,WAIS-R FSIQ,WAIS FSIQ,AIR,CAT ERROR,TRAIL B,THUR FLU,FAS,ANIMALS,DIGIT SPAN,...,GRIP NDH,PEG DH,PEG NDH,TPT DH,TPT BH,SPR,SPL,SP TOT,TFR R,TFR L
0,19,100,<NA>,100,87,94,92,82,85,91,...,87,84,83,84,84,<NA>,<NA>,<NA>,90,89
1,18,96,100,97,83,89,88,79,81,87,...,83,80,79,80,80,<NA>,<NA>,<NA>,86,86
2,17,92,98,92,79,85,84,75,77,<NA>,...,79,76,75,76,75,<NA>,<NA>,<NA>,82,82
3,16,88,94,87,75,80,81,72,72,80,...,74,72,71,71,71,<NA>,<NA>,<NA>,79,79
4,15,84,90,81,71,76,77,68,68,76,...,70,68,66,67,66,<NA>,<NA>,66,75,75
5,14,79,85,76,67,72,73,65,64,72,...,66,64,62,63,62,63,<NA>,<NA>,72,71
6,13,75,81,71,63,67,69,61,59,68,...,62,60,58,59,58,<NA>,60,59,68,68
7,12,71,77,65,59,63,65,57,55,64,...,57,56,54,55,53,55,<NA>,<NA>,65,64
8,11,67,72,60,55,58,62,54,51,60,...,53,52,50,50,49,<NA>,52,53,61,61
9,10,62,68,55,51,54,58,50,47,56,...,49,48,46,46,45,48,48,50,58,57
10,9,58,64,49,47,49,54,47,42,<NA>,...,44,44,42,42,40,44,44,46,54,54
11,8,54,59,44,43,45,50,43,38,48,...,40,40,38,38,36,40,40,43,51,50
12,7,50,55,39,39,40,46,39,34,44,...,36,36,34,33,31,36,36,40,47,47
13,6,46,51,33,35,36,43,36,30,40,...,32,32,29,29,27,33,32,36,44,43
14,5,41,47,28,31,32,39,32,25,37,...,27,28,25,25,23,29,28,33,40,40
15,4,37,42,22,27,27,35,29,21,33,...,23,24,21,21,18,25,24,30,37,36
16,3,33,38,17,23,23,31,25,17,29,...,19,20,17,17,14,21,21,27,33,33
17,2,29,34,12,19,18,27,21,12,25,...,15,16,13,12,9,18,17,23,30,29
18,1,24,29,6,15,14,24,18,8,<NA>,...,10,12,9,8,5,14,13,20,26,26
19,0,<NA>,25,1,11,<NA>,<NA>,<NA>,4,<NA>,...,6,8,<NA>,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [24]:
%%time
norms_tbls = []
for idx_list in idx_lists:
    N_ROWS = 20
    raw_tbls = list(map(lambda idx_list: extract_patient('data/caucasian male.xlsx', idx_list), idx_list))
    cleaned_tbls = list(map(clean_colnames, raw_tbls))
    norms_tbls.append(merge_on_score(cleaned_tbls))

CPU times: user 7min 41s, sys: 1.82 s, total: 7min 43s
Wall time: 7min 45s

In [25]:
norms_tbls[0]

,Scaled score,WAIS-R FSIQ,WAIS FSIQ,AIR,CAT ERROR,TRAIL B,THUR FLU,FAS,ANIMALS,DIGIT SPAN,...,GRIP NDH,PEG DH,PEG NDH,TPT DH,TPT BH,SPR,SPL,SP TOT,TFR R,TFR L
0,19,100,<NA>,100,87,94,92,82,85,91,...,87,84,83,84,84,<NA>,<NA>,<NA>,90,89
1,18,96,100,97,83,89,88,79,81,87,...,83,80,79,80,80,<NA>,<NA>,<NA>,86,86
2,17,92,98,92,79,85,84,75,77,<NA>,...,79,76,75,76,75,<NA>,<NA>,<NA>,82,82
3,16,88,94,87,75,80,81,72,72,80,...,74,72,71,71,71,<NA>,<NA>,<NA>,79,79
4,15,84,90,81,71,76,77,68,68,76,...,70,68,66,67,66,<NA>,<NA>,66,75,75
5,14,79,85,76,67,72,73,65,64,72,...,66,64,62,63,62,63,<NA>,<NA>,72,71
6,13,75,81,71,63,67,69,61,59,68,...,62,60,58,59,58,<NA>,60,59,68,68
7,12,71,77,65,59,63,65,57,55,64,...,57,56,54,55,53,55,<NA>,<NA>,65,64
8,11,67,72,60,55,58,62,54,51,60,...,53,52,50,50,49,<NA>,52,53,61,61
9,10,62,68,55,51,54,58,50,47,56,...,49,48,46,46,45,48,48,50,58,57
10,9,58,64,49,47,49,54,47,42,<NA>,...,44,44,42,42,40,44,44,46,54,54
11,8,54,59,44,43,45,50,43,38,48,...,40,40,38,38,36,40,40,43,51,50
12,7,50,55,39,39,40,46,39,34,44,...,36,36,34,33,31,36,36,40,47,47
13,6,46,51,33,35,36,43,36,30,40,...,32,32,29,29,27,33,32,36,44,43
14,5,41,47,28,31,32,39,32,25,37,...,27,28,25,25,23,29,28,33,40,40
15,4,37,42,22,27,27,35,29,21,33,...,23,24,21,21,18,25,24,30,37,36
16,3,33,38,17,23,23,31,25,17,29,...,19,20,17,17,14,21,21,27,33,33
17,2,29,34,12,19,18,27,21,12,25,...,15,16,13,12,9,18,17,23,30,29
18,1,24,29,6,15,14,24,18,8,<NA>,...,10,12,9,8,5,14,13,20,26,26
19,0,<NA>,25,1,11,<NA>,<NA>,<NA>,4,<NA>,...,6,8,<NA>,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [26]:
len(norms_tbls)

66

In [27]:
# result = norms_tbls[0].to_json(double_precision=0, orient='table',index=False)
# parsed_data = json.loads(result)['data']

In [28]:
# parsed_data

In [29]:
# [{'scaled score': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data ]

In [30]:
# [{'trail_a_time': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data ]

In [31]:
# [{'trail_a': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data ]

In [32]:
# print(json.dumps(parsed, indent = 4))

# Extract the table meta-data from title

In [55]:
meta_data = []
for start_index in table_start_idx:
    title_str = workbook.iloc[start_index].tolist()[0]
    gender = re.search('sex:([\s\S]+?)education', title_str, re.IGNORECASE).group(1).strip()
    
    # some level has education as a single point not range
    education = re.search('education:([\s\S]+?)years', title_str, re.IGNORECASE).group(1).strip()

    edu_from_match = re.search('^([\s\S]+?)-', education, re.IGNORECASE)
    if edu_from_match is not None:
        edu_from = int(re.search('^([\s\S]+?)-', education, re.IGNORECASE).group(1).strip())
        edu_to = int(re.search('-([\s\S]+?)$', education, re.IGNORECASE).group(1).strip())
    else:
        edu_from = int(education)
        edu_to = int(education)
    
    
    age = re.search('age:([\s\S]+?)years', title_str, re.IGNORECASE).group(1).strip()
    age_from = float(re.search('^([\s\S]+?)-', age, re.IGNORECASE).group(1).strip() + '.0')
    age_to = float(re.search('-([\s\S]+?)$', age, re.IGNORECASE).group(1).strip() + '.11')
    
    race = re.search('race:(.+)[\S]+', title_str, re.IGNORECASE).group(1).strip()
    
    meta_data.append({
        'age_from': age_from,
        'age_to': age_to,
        'edu_from': edu_from,
        'edu_to': edu_to,
        'race': race,
        'gender': gender
    })

In [57]:
# meta_data

In [35]:
len(meta_data)

66

In [36]:
example_norm_tbl.columns

Index(['Scaled score', 'WAIS-R FSIQ', 'WAIS FSIQ', 'AIR', 'CAT ERROR',
       'TRAIL B', 'THUR FLU', 'FAS', 'ANIMALS', 'DIGIT SPAN', 'DIGIT SPAN 2',
       'PASAT', 'DIGIT ERROR', 'SSHOR RHYM', 'SPCH PERC', 'DIGIT SYMB',
       'DIGIT SYMB 2', 'TRAIL A', 'DIGIT TIME', 'BLOCK DESGN', 'BLOCK DESGN 2',
       'TPT TIME', 'SPAT REL', 'WAIS-R VOCAB', 'WAIS VOCAB', 'APHAS SCRN',
       'BSTN NAME', 'BDAE COMP', 'PIAT RECOG', 'PIAT COMP', 'PIAT SPELL',
       'STORY-T1', 'STORY LEARN', 'STORY RECALL', 'STORY LOSS', 'CVLT-1',
       'CVLT-5', 'CVLT-TOT', 'CVLT-SDFR', 'CVLT-LDFR', 'TPT MEM', 'TPT LOC',
       'FIGUR-T1', 'FIGUR LEARN', 'FIGUR RECALL', 'FIGUR LOSS', 'TAP DH',
       'TAP NDH', 'TAP BH', 'GRIP DH', 'GRIP NDH', 'PEG DH', 'PEG NDH',
       'TPT DH', 'TPT BH', 'SPR', 'SPL', 'SP TOT', 'TFR R', 'TFR L'],
      dtype='object')

# Generate target JSON format with the table meta-data and table data

In [37]:

# target_data = []

# result = norms_tbls[0].to_json(double_precision=0, orient='table',index=False)
# parsed_data = json.loads(result)['data']

# # parse the scale score and corresponding field score into list of dicts, each element is a row in target ".rake" file
# scale_scores = [{'scaled_score': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data]
# raw_scores = [{'raw_score': value for key, value in tbl.items() if key == test_info['column_name']} for tbl in parsed_data]
# table_data = [{**scale_score, **raw_score} for scale_score, raw_score in zip(scale_scores, raw_scores)]

# # combine the two parts of information
# for row_data in table_data:
#     target_data.append({**meta_table, **row_data})

# # add neuro_test_name and neuro_test_field for all rows that belongs to that test
# for target_row in target_data:
#     target_row.update({'neuro_test_name': test_info['neuro_test_name'], 'neuro_test_field_name': test_info['neuro_test_field_name']})

# key_list = ['age_from', 'age_to', 'edu_from', 'edu_to', 'race', 'gender', 'neuro_test_name', 'neuro_test_field_name', 'scaled_score', 'raw_score']

#     # sort fields
# #         ordered_target_data = []
# #         for target_row in target_data:
# #              ordered_target_data.append(OrderedDict((k, target_row[k]) for k in key_list))

#     return target_data

In [81]:
def get_JSON(test_info):
    '''
    test_info: a dict that contains three key (string) -values (string) pairs that provides name of neuro_test_name, neuro_test_field_name, column_name
    '''
    target_data = []
    for meta_table, norms_tbl in zip(meta_data, norms_tbls):
        result = norms_tbl.to_json(double_precision=0, orient='table',index=False)
        parsed_data = json.loads(result)['data']

        # parse the scale score and corresponding field score into list of dicts, each element is a row in target ".rake" file
        scale_scores = [{'scaled_score': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data]
        raw_scores = [{'raw_score': value for key, value in tbl.items() if key == test_info['column_name']} for tbl in parsed_data]
        table_data = [{**scale_score, **raw_score} for scale_score, raw_score in zip(scale_scores, raw_scores)]

        # combine the two parts of information
        for row_data in table_data:
            target_data.append({**meta_table, **row_data})

            
    # add neuro_test_name and neuro_test_field for all rows that belongs to that test 
    # this field adding is for all rows for the test (test-level)
    for target_row in target_data:
            target_row.update({'neuro_test_name': test_info['neuro_test_name'], 'neuro_test_field_name': test_info['neuro_test_field_name']})
            
    key_list = ['age_from', 'age_to', 'edu_from', 'edu_to', 'race', 'gender', 'neuro_test_name', 'neuro_test_field_name', 'scaled_score', 'raw_score']     
        
        # sort fields
#         ordered_target_data = []
#         for target_row in target_data:
#              ordered_target_data.append(OrderedDict((k, target_row[k]) for k in key_list))
        
    return target_data

In [39]:
# def get_JSON(test_info):
#     '''
#     test_info: a dict that contains three key (string) -values (string) pairs that provides name of neuro_test_name, neuro_test_field_name, column_name
#     '''
#     target_data = []
#     for table_meta_dat, norms_tbl in zip(meta_data, norms_tbls):
#         result = norms_tbl.to_json(double_precision=0, orient='table',index=False)
#         parsed_data = json.loads(result)['data']

#         # parse the scale score and corresponding field score into list of dicts, each element is a row in target ".rake" file
#         scale_scores = [{'scaled_score': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data]
#         raw_scores = [{'raw_score': value for key, value in tbl.items() if key == test_info['column_name']} for tbl in parsed_data]
#         table_data = [{**scale_score, **raw_score} for scale_score, raw_score in zip(scale_scores, raw_scores)]

#         # add neuro_test_name and neuro_test_field for all rows that belongs to that test
#         for row_data in table_data:
#             target_data.append(table_meta_dat)
        
#         for target_row in target_data:
#             target_row.update({'neuro_test_name': test_info['neuro_test_name'], 'neuro_test_field_name': test_info['neuro_test_field_name']})
        
#         # combine the two parts of information
#         for target_row, row_data in zip(target_data, table_data):
#             target_row.update(row_data)

            
#         return target_data

In [40]:
# get_JSON({'neuro_test_name': 'c4_tmt', 'neuro_test_field_name': 'trail_a_time', 'column_name': 'TRAIL A'})

In [41]:
caucasian_male_tests = [['c4_tmt', 'trail_a_time', 'TRAIL A'],
['c4_tmt', 'trail_b_time', 'TRAIL B'],
['c6_pegboard', 'peg_dh', 'PEG DH'],
['c6_pegboard', 'peg_ndh', 'PEG NDH'],
['d2_bnt', 'total_score', 'BSTN NAME'],
['d3_fas_animal_fluency', 'total_fas_score', 'FAS'],
['d3_fas_animal_fluency', 'animal_total', 'ANIMALS']]

In [82]:
# get_JSON(caucasian_male_test_info[4])

In [83]:
caucasian_male_test_info = [{'neuro_test_name': items[0], 'neuro_test_field_name': items[1], 'column_name': items[2]} for items in caucasian_male_tests]
caucasian_male_test_info

[{'neuro_test_name': 'c4_tmt',
  'neuro_test_field_name': 'trail_a_time',
  'column_name': 'TRAIL A'},
 {'neuro_test_name': 'c4_tmt',
  'neuro_test_field_name': 'trail_b_time',
  'column_name': 'TRAIL B'},
 {'neuro_test_name': 'c6_pegboard',
  'neuro_test_field_name': 'peg_dh',
  'column_name': 'PEG DH'},
 {'neuro_test_name': 'c6_pegboard',
  'neuro_test_field_name': 'peg_ndh',
  'column_name': 'PEG NDH'},
 {'neuro_test_name': 'd2_bnt',
  'neuro_test_field_name': 'total_score',
  'column_name': 'BSTN NAME'},
 {'neuro_test_name': 'd3_fas_animal_fluency',
  'neuro_test_field_name': 'total_fas_score',
  'column_name': 'FAS'},
 {'neuro_test_name': 'd3_fas_animal_fluency',
  'neuro_test_field_name': 'animal_total',
  'column_name': 'ANIMALS'}]

In [84]:
out = []
for test_info in caucasian_male_test_info:
    out += get_JSON(test_info)

In [45]:
# print(out)

In [85]:
json_string = json.dumps(out, indent=4)

In [86]:
rake_string = re.sub('"age_from"', 'age_from', json_string)
rake_string = re.sub('"age_to"', 'age_to', rake_string)
rake_string = re.sub('"edu_from"', 'edu_from', rake_string)
rake_string = re.sub('"edu_to"', 'edu_to', rake_string)
rake_string = re.sub('"race"', 'race', rake_string)
rake_string = re.sub('"gender"', 'gender', rake_string)
rake_string = re.sub('"neuro_test_name"', 'neuro_test_name', rake_string)
rake_string = re.sub('"neuro_test_field_name"', 'neuro_test_field_name', rake_string)
rake_string = re.sub('"scaled_score"', 'scaled_score', rake_string)
rake_string = re.sub('"raw_score"', 'raw_score', rake_string)

In [87]:
with open('output/caucasian_male.rake', 'w') as f:
    f.write(rake_string)

In [49]:

# print(rake.dumps(out, indent=4))

Additional step: remove the element when raw score is null