In [1]:
import pandas as pd
import re
import functools
import json
import numpy as np
from collections import OrderedDict

In [2]:
EXCEL_FILE = 'data/AA female.xlsx'

In [3]:
OUTPUT_FILE = 'output/create_norms_heaton_aa_female_c4_tmt.rake'

In [4]:
workbook = pd.read_excel(EXCEL_FILE, header=None, dtype=str)

In [5]:
workbook

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Sex: Female Education: 7-8 years\nAge: 20-34 y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Scaled\nscore,WAIS-R\nFSIQ,NaN,WAIS\nFSIQ,AIR,CAT\nERROR,NaN,NaN,NaN,TRAIL\nB,...,DIGIT SSHOR\nPASAT ERROR RHYM,NaN,NaN,NaN,NaN,NaN,SPCH PERC,Scaled score,NaN,NaN
2,19,100,NaN,NaN,100,95,NaN,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN
3,18,98,NaN,100,96,91,NaN,NaN,NaN,87,...,NaN,NaN,NaN,NaN,NaN,NaN,88,18,NaN,NaN
4,17,94,NaN,98,91,87,NaN,NaN,NaN,83,...,89,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,3,NaN,NaN,38,37,NaN,32,NaN,32,40,...,47,NaN,32,NaN,NaN,31,3,NaN,NaN,NaN
5870,2,NaN,NaN,35,34,NaN,27,NaN,26,36,...,44,NaN,28,NaN,NaN,27,2,NaN,NaN,NaN
5871,1,NaN,NaN,31,30,NaN,21,NaN,21,32,...,41,NaN,24,NaN,NaN,23,1,NaN,NaN,NaN
5872,0,NaN,NaN,28,26,NaN,16,NaN,16,27,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
5873,Note. See page 16 for a description of acronyms.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# drop columns that all rows are missing value
workbook.dropna(how="all")

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Sex: Female Education: 7-8 years\nAge: 20-34 y...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Scaled\nscore,WAIS-R\nFSIQ,NaN,WAIS\nFSIQ,AIR,CAT\nERROR,NaN,NaN,NaN,TRAIL\nB,...,DIGIT SSHOR\nPASAT ERROR RHYM,NaN,NaN,NaN,NaN,NaN,SPCH PERC,Scaled score,NaN,NaN
2,19,100,NaN,NaN,100,95,NaN,NaN,NaN,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN
3,18,98,NaN,100,96,91,NaN,NaN,NaN,87,...,NaN,NaN,NaN,NaN,NaN,NaN,88,18,NaN,NaN
4,17,94,NaN,98,91,87,NaN,NaN,NaN,83,...,89,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5869,3,NaN,NaN,38,37,NaN,32,NaN,32,40,...,47,NaN,32,NaN,NaN,31,3,NaN,NaN,NaN
5870,2,NaN,NaN,35,34,NaN,27,NaN,26,36,...,44,NaN,28,NaN,NaN,27,2,NaN,NaN,NaN
5871,1,NaN,NaN,31,30,NaN,21,NaN,21,32,...,41,NaN,24,NaN,NaN,23,1,NaN,NaN,NaN
5872,0,NaN,NaN,28,26,NaN,16,NaN,16,27,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
5873,Note. See page 16 for a description of acronyms.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The code in the next cell will find index of row that contain the information that which level (defined by age, education, race, gender) that the current norm table is for, such as 
"Sex: Male Education: 7-8 years
Age: 20-34 years Race: Caucasian"

In [7]:
# Find the row index that contain the title information
table_title_idx = []
for index, row in workbook.iterrows():
    columns_on_current_row = row.tolist()
    pat = re.compile('Sex:.+', re.IGNORECASE)
    for column in columns_on_current_row:
        if  not (pd.isnull(column)):
            if (bool(re.search(pat, column))):
                table_title_idx.append(index)

In [8]:
table_title_idx

[0,
 44,
 89,
 133,
 178,
 222,
 267,
 311,
 356,
 400,
 445,
 489,
 534,
 578,
 623,
 667,
 712,
 756,
 801,
 845,
 890,
 934,
 979,
 1023,
 1068,
 1112,
 1157,
 1201,
 1246,
 1290,
 1335,
 1379,
 1424,
 1468,
 1513,
 1557,
 1602,
 1646,
 1691,
 1735,
 1780,
 1824,
 1869,
 1913,
 1958,
 2002,
 2047,
 2091,
 2136,
 2180,
 2225,
 2269,
 2314,
 2358,
 2403,
 2447,
 2492,
 2536,
 2581,
 2625,
 2670,
 2714,
 2759,
 2803,
 2848,
 2892,
 2937,
 2981,
 3026,
 3070,
 3115,
 3159,
 3204,
 3248,
 3293,
 3337,
 3382,
 3426,
 3471,
 3515,
 3560,
 3604,
 3649,
 3693,
 3738,
 3782,
 3827,
 3871,
 3916,
 3960,
 4005,
 4049,
 4094,
 4138,
 4183,
 4227,
 4272,
 4316,
 4361,
 4405,
 4450,
 4494,
 4539,
 4583,
 4628,
 4672,
 4717,
 4761,
 4806,
 4850,
 4895,
 4939,
 4984,
 5028,
 5073,
 5117,
 5162,
 5206,
 5251,
 5295,
 5340,
 5384,
 5429,
 5473,
 5518,
 5562,
 5607,
 5651,
 5696,
 5740,
 5785,
 5829]

From the index of row that have table title to get the start row index of the table for each level

For norms table of each level, it contains 4 sub-tables in vertical order in the excel file.
For each norms table of a level, the level information appears twice on the at the beginning of the norms table of a level and another is between the second sub-table and third sub-table. So taking the first of every two such row index will give the beginning position of the norms table of each level.

In [9]:
table_start_idx = [table_title_idx[i] for i in range(0, 132, 2)]

In [10]:
len(table_start_idx)

66

In [11]:
table_scale_score_idx = []
for index, row in workbook.iterrows():
    row_list = row.tolist()
    column1 = row_list[0]
    pat = re.compile('scale', re.IGNORECASE)
    if  not (pd.isnull(column1)):
        if (bool(re.search(pat, row_list[0]))):
            table_scale_score_idx.append(index)

In [12]:
# table_scale_score_idx

In [13]:
# tbl_p1 = pd.read_excel('data/caucasian male.xlsx', skiprows=2, nrows=20)
# # tbl.dtypes
# tbl_p1 = tbl_p1[tbl_p1.columns.drop(list(tbl_p1.filter(regex=re.compile("unname", re.IGNORECASE))))]
# tbl_p2 = pd.read_excel('data/caucasian male.xlsx', skiprows=24, nrows=20)
# tbl_p2 = tbl_p2[tbl_p2.columns.drop(list(tbl_p2.filter(regex=re.compile("unname", re.IGNORECASE))))]
# tbl = pd.merge(tbl_p1, tbl_p2, on='Scaled score')

In [14]:
idx_lists = [[table_scale_score_idx[x], table_scale_score_idx[x+1],
             table_scale_score_idx[x+2], table_scale_score_idx[x+3]
             ] for x in range(0, len(table_scale_score_idx), 4)]

In [15]:
# the length of idx_lists and table_title_idx should be the same
len(idx_lists)

66

In [16]:
# for idx_list in idx_lists:
#     N_ROWS = 20
#     # read the first part of the table
#     tbl_p1 = pd.read_excel('data/caucasian male.xlsx', skiprows=idx_pair[0], nrows=N_ROWS)
#     tbl_p1 = tbl_p1[tbl_p1.columns.drop(list(tbl_p1.filter(regex=re.compile("unname", re.IGNORECASE))))]
#     # read the second part of the table
#     tbl_p2 = pd.read_excel('data/caucasian male.xlsx', skiprows=idx_pair[1], nrows=N_ROWS)
#     tbl_p2 = tbl_p2[tbl_p2.columns.drop(list(tbl_p2.filter(regex=re.compile("unname", re.IGNORECASE))))]
#     # join two part together                                                                   
#     tbl = pd.merge(tbl_p1, tbl_p2, on='Scaled score')
    
#     tbls.append(tbl)

For each patient level, extract the four corresponding table and merge them

In [17]:
def extract_patient(file, start):
    N_ROWS = 20
    tbl = pd.read_excel(file, skiprows=start, nrows=N_ROWS)
    return tbl

In [18]:
# test
# extract_patient('data/caucasian male.xlsx', 2)

Define a helper function that will remove empty columns and the last column with name "Scaled score" which is a duplicate of the first column, and unify the column name format

In [19]:
def clean_colnames(dataframe):
    # get the column index that will be remained
    # remove a column if all rows is null 
#     col_idx = dataframe.columns.drop(list(dataframe.filter(regex=re.compile("unname", re.IGNORECASE))))
    df = dataframe.dropna(axis=1, how='all', inplace=False)
    df = df.iloc[:, :-1]
    # remove whitespace in both ends
    df.columns = df.columns.str.strip()
    # replace whitespace of any length with a single "space" chacacter
    df.columns = list(map(lambda colname: re.sub('\s+', ' ', colname), df.columns))
    # convert all columns to integer type
    df = df.fillna(pd.NA).astype('Int64')
    return df

In [20]:
# # test
# example_tbl = extract_patient(EXCEL_FILE, 2)
# example_tbl.dropna(axis=1, how='all')
# clean_colnames(example_tbl).columns

Define a helper function that will do a inner join a list of dataframe iteratively on "Scaled score"

In [21]:
def merge_on_score(dataframes):
    
    df = functools.reduce(lambda left,right: pd.merge(left,right,on='Scaled score',
                                            how='outer'), dataframes)
    df.columns = ['Scaled score', 'WAIS-R FSIQ', 'WAIS FSIQ', 'AIR', 'CAT ERROR','TRAIL B', 'THUR FLU', 'FAS', 'ANIMALS', 'DIGIT SPAN', 'DIGIT SPAN 2', 'PASAT', 'DIGIT ERROR', 'SSHOR RHYM', 'SPCH PERC', 
                  'DIGIT SYMB', 'DIGIT SYMB 2', 'TRAIL A', 'DIGIT TIME', 'BLOCK DESGN', 'BLOCK DESGN 2', 'TPT TIME', 'SPAT REL', 'WAIS-R VOCAB', 'WAIS VOCAB', 'APHAS SCRN', 'BSTN NAME', 'BDAE COMP', 'PIAT RECOG', 'PIAT COMP', 'PIAT SPELL', 
                  'STORY-T1', 'STORY LEARN', 'STORY RECALL', 'STORY LOSS', 'CVLT-1', 'CVLT-5', 'CVLT-TOT', 'CVLT-SDFR', 'CVLT-LDFR', 'TPT MEM', 'TPT LOC', 'FIGUR-T1', 'FIGUR LEARN', 'FIGUR RECALL', 'FIGUR LOSS', 
                  'TAP DH', 'TAP NDH', 'TAP BH', 'GRIP DH', 'GRIP NDH', 'PEG DH', 'PEG NDH', 'TPT DH', 'TPT BH', 'SPR', 'SPL', 'SP TOT', 'TFR R', 'TFR L']
    return df

In [22]:
# test
example_raw_tbls = list(map(lambda idx_list: extract_patient(EXCEL_FILE, idx_list), idx_lists[0]))
example_tbls = list(map(clean_colnames, example_raw_tbls))
example_norm_tbl = merge_on_score(example_tbls)

In [23]:
# example_norm_tbl.fillna(pd.NA).astype('Int64')
example_norm_tbl

,Scaled score,WAIS-R FSIQ,WAIS FSIQ,AIR,CAT ERROR,TRAIL B,THUR FLU,FAS,ANIMALS,DIGIT SPAN,...,GRIP NDH,PEG DH,PEG NDH,TPT DH,TPT BH,SPR,SPL,SP TOT,TFR R,TFR L
0,19,100,<NA>,100,95,91,93,93,93,91,...,91,95,89,93,89,<NA>,<NA>,<NA>,84,81
1,18,98,100,96,91,87,89,89,89,87,...,86,91,85,88,84,<NA>,<NA>,<NA>,80,77
2,17,94,98,91,87,83,85,85,85,<NA>,...,82,87,81,83,80,<NA>,<NA>,<NA>,76,73
3,16,89,94,85,82,78,81,81,81,80,...,78,82,77,79,75,<NA>,<NA>,<NA>,72,69
4,15,85,90,80,78,74,77,78,77,76,...,74,78,73,74,71,<NA>,<NA>,63,68,66
5,14,81,85,75,74,70,74,74,73,72,...,70,74,69,69,66,61,<NA>,<NA>,64,62
6,13,77,81,70,69,66,70,70,69,68,...,66,69,65,65,62,<NA>,59,57,61,58
7,12,72,77,65,65,61,66,66,65,64,...,62,65,61,60,57,53,<NA>,<NA>,57,54
8,11,68,72,60,60,57,62,63,61,60,...,58,61,56,55,52,<NA>,52,51,53,50
9,10,64,68,55,56,53,58,59,57,56,...,54,56,52,50,48,46,49,48,49,46
10,9,60,64,49,52,49,54,55,53,<NA>,...,50,52,48,46,43,42,46,45,45,42
11,8,55,59,44,47,45,50,51,49,48,...,45,48,44,41,39,39,42,42,41,38
12,7,51,55,39,43,40,46,47,46,44,...,41,43,40,36,34,35,39,39,37,34
13,6,47,51,34,39,36,43,44,42,40,...,37,39,36,32,30,31,35,36,33,30
14,5,43,47,29,34,32,39,40,38,37,...,33,35,32,27,25,28,32,33,30,26
15,4,38,42,24,30,28,35,36,34,33,...,29,30,28,22,21,24,29,30,26,22
16,3,34,38,19,25,23,31,32,30,29,...,25,26,24,18,16,20,25,27,22,18
17,2,30,34,14,21,19,27,29,26,25,...,21,22,20,13,12,17,22,24,18,14
18,1,26,29,8,17,15,23,25,22,<NA>,...,17,18,16,8,7,13,18,21,14,10
19,0,<NA>,25,3,12,<NA>,<NA>,<NA>,18,<NA>,...,13,13,<NA>,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [34]:
%%time
norms_tbls = []
for idx_list in idx_lists:
    N_ROWS = 20
    raw_tbls = list(map(lambda idx_list: extract_patient(EXCEL_FILE, idx_list), idx_list))
    cleaned_tbls = list(map(clean_colnames, raw_tbls))
    norms_tbls.append(merge_on_score(cleaned_tbls))

CPU times: user 7min 31s, sys: 2.33 s, total: 7min 33s
Wall time: 7min 36s

In [37]:
norms_tbls[0]

,Scaled score,WAIS-R FSIQ,WAIS FSIQ,AIR,CAT ERROR,TRAIL B,THUR FLU,FAS,ANIMALS,DIGIT SPAN,...,GRIP NDH,PEG DH,PEG NDH,TPT DH,TPT BH,SPR,SPL,SP TOT,TFR R,TFR L
0,19,100,<NA>,100,95,91,93,93,93,91,...,91,95,89,93,89,<NA>,<NA>,<NA>,84,81
1,18,98,100,96,91,87,89,89,89,87,...,86,91,85,88,84,<NA>,<NA>,<NA>,80,77
2,17,94,98,91,87,83,85,85,85,<NA>,...,82,87,81,83,80,<NA>,<NA>,<NA>,76,73
3,16,89,94,85,82,78,81,81,81,80,...,78,82,77,79,75,<NA>,<NA>,<NA>,72,69
4,15,85,90,80,78,74,77,78,77,76,...,74,78,73,74,71,<NA>,<NA>,63,68,66
5,14,81,85,75,74,70,74,74,73,72,...,70,74,69,69,66,61,<NA>,<NA>,64,62
6,13,77,81,70,69,66,70,70,69,68,...,66,69,65,65,62,<NA>,59,57,61,58
7,12,72,77,65,65,61,66,66,65,64,...,62,65,61,60,57,53,<NA>,<NA>,57,54
8,11,68,72,60,60,57,62,63,61,60,...,58,61,56,55,52,<NA>,52,51,53,50
9,10,64,68,55,56,53,58,59,57,56,...,54,56,52,50,48,46,49,48,49,46
10,9,60,64,49,52,49,54,55,53,<NA>,...,50,52,48,46,43,42,46,45,45,42
11,8,55,59,44,47,45,50,51,49,48,...,45,48,44,41,39,39,42,42,41,38
12,7,51,55,39,43,40,46,47,46,44,...,41,43,40,36,34,35,39,39,37,34
13,6,47,51,34,39,36,43,44,42,40,...,37,39,36,32,30,31,35,36,33,30
14,5,43,47,29,34,32,39,40,38,37,...,33,35,32,27,25,28,32,33,30,26
15,4,38,42,24,30,28,35,36,34,33,...,29,30,28,22,21,24,29,30,26,22
16,3,34,38,19,25,23,31,32,30,29,...,25,26,24,18,16,20,25,27,22,18
17,2,30,34,14,21,19,27,29,26,25,...,21,22,20,13,12,17,22,24,18,14
18,1,26,29,8,17,15,23,25,22,<NA>,...,17,18,16,8,7,13,18,21,14,10
19,0,<NA>,25,3,12,<NA>,<NA>,<NA>,18,<NA>,...,13,13,<NA>,4,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [39]:
len(norms_tbls)

66

# Extract the table meta-data from title

In [40]:
meta_data = []
for start_index in table_start_idx:
    title_str = workbook.iloc[start_index].tolist()[0]
    gender = re.search('sex:([\s\S]+?)education', title_str, re.IGNORECASE).group(1).strip()
    
    # some level has education as a single point not range
    education = re.search('education:([\s\S]+?)years', title_str, re.IGNORECASE).group(1).strip()

    edu_from_match = re.search('^([\s\S]+?)-', education, re.IGNORECASE)
    if edu_from_match is not None:
        edu_from = int(re.search('^([\s\S]+?)-', education, re.IGNORECASE).group(1).strip())
        edu_to = int(re.search('-([\s\S]+?)$', education, re.IGNORECASE).group(1).strip())
    else:
        edu_from = int(education)
        edu_to = int(education)
    
    
    age = re.search('age:([\s\S]+?)years', title_str, re.IGNORECASE).group(1).strip()
    age_from = float(re.search('^([\s\S]+?)-', age, re.IGNORECASE).group(1).strip() + '.0')
    age_to = float(re.search('-([\s\S]+?)$', age, re.IGNORECASE).group(1).strip() + '.11')
    
    race = re.search('race:(.+)[\S]+', title_str, re.IGNORECASE).group(1).strip()
    
    meta_data.append({
        'age_from': age_from,
        'age_to': age_to,
        'edu_from': edu_from,
        'edu_to': edu_to,
        'race': race,
        'gender': gender
    })

In [41]:
# meta_data

In [42]:
len(meta_data)

66

In [43]:
example_norm_tbl.columns

Index(['Scaled score', 'WAIS-R FSIQ', 'WAIS FSIQ', 'AIR', 'CAT ERROR',
       'TRAIL B', 'THUR FLU', 'FAS', 'ANIMALS', 'DIGIT SPAN', 'DIGIT SPAN 2',
       'PASAT', 'DIGIT ERROR', 'SSHOR RHYM', 'SPCH PERC', 'DIGIT SYMB',
       'DIGIT SYMB 2', 'TRAIL A', 'DIGIT TIME', 'BLOCK DESGN', 'BLOCK DESGN 2',
       'TPT TIME', 'SPAT REL', 'WAIS-R VOCAB', 'WAIS VOCAB', 'APHAS SCRN',
       'BSTN NAME', 'BDAE COMP', 'PIAT RECOG', 'PIAT COMP', 'PIAT SPELL',
       'STORY-T1', 'STORY LEARN', 'STORY RECALL', 'STORY LOSS', 'CVLT-1',
       'CVLT-5', 'CVLT-TOT', 'CVLT-SDFR', 'CVLT-LDFR', 'TPT MEM', 'TPT LOC',
       'FIGUR-T1', 'FIGUR LEARN', 'FIGUR RECALL', 'FIGUR LOSS', 'TAP DH',
       'TAP NDH', 'TAP BH', 'GRIP DH', 'GRIP NDH', 'PEG DH', 'PEG NDH',
       'TPT DH', 'TPT BH', 'SPR', 'SPL', 'SP TOT', 'TFR R', 'TFR L'],
      dtype='object')

# Generate target JSON format with the table meta-data and table data

In [44]:
def get_object_for_json(test_info):
    '''
    test_info: a dict that contains three key (string) -values (string) pairs that provides name of neuro_test_name, neuro_test_field_name, column_name
    '''
    target_data = []
    for meta_table, norms_tbl in zip(meta_data, norms_tbls):
        result = norms_tbl.to_json(double_precision=0, orient='table',index=False)
        parsed_data = json.loads(result)['data']

        # parse the scale score and corresponding field score into list of dicts, each element is a row in target ".rake" file
        scale_scores = [{'scaled_score': value for key, value in row.items() if key == 'Scaled score'} for row in parsed_data]
        raw_scores = [{'raw_score': value for key, value in row.items() if key == test_info['column_name']} for row in parsed_data]
        table_data = [{**scale_score, **raw_score} for scale_score, raw_score in zip(scale_scores, raw_scores)]

        # combine the two parts of information
        for row_data in table_data:
            target_data.append({**meta_table, **row_data})

            
    # add neuro_test_name and neuro_test_field for all rows that belongs to that test 
    # this field adding is for all rows for the test (test-level)
    for target_row in target_data:
            target_row.update({'neuro_test_name': test_info['neuro_test_name'], 'neuro_test_field_name': test_info['neuro_test_field_name']})
            
    key_list = ['age_from', 'age_to', 'edu_from', 'edu_to', 'race', 'gender', 'neuro_test_name', 'neuro_test_field_name', 'scaled_score', 'raw_score']     
        
#     sort fields
    ordered_target_data = []
    for target_row in target_data:
         ordered_target_data.append(OrderedDict((k, target_row[k]) for k in key_list))
    
    # remove row (in dictionary form) when the "raw score" field has a "None" value 
    ordered_target_data_without_none = [row_as_dict for row_as_dict in ordered_target_data if row_as_dict['raw_score'] is not None] 
    
    return ordered_target_data_without_none

In [45]:
# def get_JSON(test_info):
#     '''
#     test_info: a dict that contains three key (string) -values (string) pairs that provides name of neuro_test_name, neuro_test_field_name, column_name
#     '''
#     target_data = []
#     for table_meta_dat, norms_tbl in zip(meta_data, norms_tbls):
#         result = norms_tbl.to_json(double_precision=0, orient='table',index=False)
#         parsed_data = json.loads(result)['data']

#         # parse the scale score and corresponding field score into list of dicts, each element is a row in target ".rake" file
#         scale_scores = [{'scaled_score': value for key, value in tbl.items() if key == 'Scaled score'} for tbl in parsed_data]
#         raw_scores = [{'raw_score': value for key, value in tbl.items() if key == test_info['column_name']} for tbl in parsed_data]
#         table_data = [{**scale_score, **raw_score} for scale_score, raw_score in zip(scale_scores, raw_scores)]

#         # add neuro_test_name and neuro_test_field for all rows that belongs to that test
#         for row_data in table_data:
#             target_data.append(table_meta_dat)
        
#         for target_row in target_data:
#             target_row.update({'neuro_test_name': test_info['neuro_test_name'], 'neuro_test_field_name': test_info['neuro_test_field_name']})
        
#         # combine the two parts of information
#         for target_row, row_data in zip(target_data, table_data):
#             target_row.update(row_data)

            
#         return target_data

In [46]:
# get_object_for_json({'neuro_test_name': 'c4_tmt', 'neuro_test_field_name': 'trail_a_time', 'column_name': 'TRAIL A'})

In [55]:
norms_tests = [
    ['c4_tmt', 'trail_a_time', 'TRAIL A'],
    ['c4_tmt', 'trail_b_time', 'TRAIL B'],
#     ['c6_pegboard', 'peg_dh', 'PEG DH'],
#     ['c6_pegboard', 'peg_ndh', 'PEG NDH'],
    ['d2_bnt', 'total_score', 'BSTN NAME'],
#     ['d3_fas_animal_fluency', 'total_fas_score', 'FAS'],
#     ['d3_fas_animal_fluency', 'animal_total', 'ANIMALS']
]

In [56]:
norms_tests_info = [{'neuro_test_name': items[0], 'neuro_test_field_name': items[1], 'column_name': items[2]} for items in norms_tests]
norms_tests_info

[{'neuro_test_name': 'c4_tmt',
  'neuro_test_field_name': 'trail_a_time',
  'column_name': 'TRAIL A'},
 {'neuro_test_name': 'c4_tmt',
  'neuro_test_field_name': 'trail_b_time',
  'column_name': 'TRAIL B'},
 {'neuro_test_name': 'd2_bnt',
  'neuro_test_field_name': 'total_score',
  'column_name': 'BSTN NAME'}]

In [58]:
# get_object_for_json(norms_tests_info[4])

In [59]:
out = []
for test_info in norms_tests_info:
    out += get_object_for_json(test_info)

In [60]:
# print(out)

In [61]:
json_string = json.dumps(out, indent=4)

Convert from JSON format to RAKE format

In [62]:
rake_string = re.sub('"age_from"', 'age_from', json_string)
rake_string = re.sub('"age_to"', 'age_to', rake_string)
rake_string = re.sub('"edu_from"', 'edu_from', rake_string)
rake_string = re.sub('"edu_to"', 'edu_to', rake_string)
rake_string = re.sub('"race"', 'race', rake_string)
rake_string = re.sub('"gender"', 'gender', rake_string)
rake_string = re.sub('"neuro_test_name"', 'neuro_test_name', rake_string)
rake_string = re.sub('"neuro_test_field_name"', 'neuro_test_field_name', rake_string)
rake_string = re.sub('"scaled_score"', 'scaled_score', rake_string)
rake_string = re.sub('"raw_score"', 'raw_score', rake_string)

In [63]:
with open(OUTPUT_FILE, 'w') as f:
    f.write(rake_string)

In [54]:
# if education only has one level only keep edu_from field